<div class="layout_2_block">
  
</div>
<div class="row">
  <div class="col-lg-3">
    <div class="ibox float-e-margins">
        
      <div class="ibox-title light-blue-top">
        <h5>Cluster Management</h5>
      </div>
      <div class="ibox-content">
          <div class="row">
              <div class="col-lg-3">
                    <a href="#"> <%= image_tag("hosting.png", alt:"Volume1") %> </a>
              </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-3" style="margin-top:10px;">
                  <div class="switch pull-right">
                      <div class="onoffswitch">
                          <input type="checkbox" checked class="onoffswitch-checkbox" id="example1">
                          <label class="onoffswitch-label" for="example1">
                              <span class="onoffswitch-inner"></span>
                              <span class="onoffswitch-switch"></span>
                          </label>
                      </div>
                  </div>
                </div>
                <div class="col-lg-5 col-lg-offset-3" style="margin-top:10px;">
                  <button class="btn btn-warning btn-xs pull-right" type="button"><i class="fa fa-warning"></i> <span class="bold">Restart Cluster</span></button>
                </div>
            </div>
          </div>  
      </div>
      </div>
      <div class="ibox float-e-margins">
          
        <div class="ibox-title">
          <h5>Nodes Management</h5>
        </div>
        <div class="ibox-content">
            <div class="row">
              <div class="col-lg-3">
                  <a href="#"> <%= image_tag("cloud_node.png", size:"64x64", alt:"Node1") %> </a>
              </div>
              <div class="row">
                  <div ></div>
                  <div class="col-lg-5 col-lg-offset-3" style="margin-top:10px;">
                    <div class="switch pull-right">
                        <div class="onoffswitch">
                            <input type="checkbox" checked class="onoffswitch-checkbox" id="example1">
                            <label class="onoffswitch-label" for="example1">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-3" style="margin-top:10px;">
                    <button class="btn btn-warning btn-xs pull-right" type="button"><i class="fa fa-warning"></i> <span class="bold">Restart Node</span></button>
                  </div>
              </div>
           </div>

           <div style="margin-top:10px;"></div>

            <div class="row">
              <div class="col-lg-3">
                  <a href="#"> <%= image_tag("cloud_node.png", size:"64x64", alt:"Node1") %> </a>
              </div>
              <div class="row">
                  <div ></div>
                  <div class="col-lg-5 col-lg-offset-3" style="margin-top:10px;">
                    <div class="switch pull-right">
                        <div class="onoffswitch">
                            <input type="checkbox" checked class="onoffswitch-checkbox" id="example1">
                            <label class="onoffswitch-label" for="example1">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-3" style="margin-top:10px;">
                    <button class="btn btn-warning btn-xs pull-right" type="button"><i class="fa fa-warning"></i> <span class="bold">Restart Node</span></button>
                  </div>
              </div>
           </div>

           <div style="margin-top:10px;"></div>

            <div class="row">
              <div class="col-lg-3">
                  <a href="#"> <%= image_tag("cloud_node.png", size:"64x64", alt:"Node1") %> </a>
              </div>
              <div class="row">
                  <div ></div>
                  <div class="col-lg-5 col-lg-offset-3" style="margin-top:10px;">
                    <div class="switch pull-right">
                        <div class="onoffswitch">
                            <input type="checkbox" checked class="onoffswitch-checkbox" id="example1">
                            <label class="onoffswitch-label" for="example1">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-3" style="margin-top:10px;">
                    <button class="btn btn-warning btn-xs pull-right" type="button"><i class="fa fa-warning"></i> <span class="bold">Restart Node</span></button>
                  </div>
              </div>
           </div>

           <div style="margin-top:10px;"></div>

            <div class="row">
              <div class="col-lg-3">
                  <a href="#"> <%= image_tag("cloud_node.png", size:"64x64", alt:"Node1") %> </a>
              </div>
              <div class="row">
                  <div ></div>
                  <div class="col-lg-5 col-lg-offset-3" style="margin-top:10px;">
                    <div class="switch pull-right">
                        <div class="onoffswitch">
                            <input type="checkbox" checked class="onoffswitch-checkbox" id="example1">
                            <label class="onoffswitch-label" for="example1">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                  </div>
                  <div class="col-lg-5 col-lg-offset-3" style="margin-top:10px;">
                    <button class="btn btn-warning btn-xs pull-right" type="button"><i class="fa fa-warning"></i> <span class="bold">Restart Node</span></button>
                  </div>
              </div>
           </div>
        </div>
      </div>
  </div>
  <div class="col-lg-3">
      <div class="ibox float-e-margins">
          
        <div class="ibox-title primary-top">
          <h5>Foundation Volumes Management</h5>
        </div>
        <div class="ibox-content">
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div class="col-lg-12"  style="margin: 10px 0 30px 10px;">
                      <a href="#"> <%= image_tag("ram.png", size:"215x96", alt:"Volume1") %> </a>
                </div>

                <div class="checkbox checkbox-danger checkbox-circle">
                    <input id="checkbox8" type="checkbox" checked="">
                    <label for="checkbox8">
                        Stop Engines                             
                    </label>
                </div>
                <div class="checkbox checkbox-warning checkbox-circle">
                    <input id="checkbox8" type="checkbox" checked="">
                    <label for="checkbox8">
                        Reload Engines                             
                    </label>
                </div>
                <div class="checkbox checkbox-info checkbox-circle">
                    <input id="checkbox8" type="checkbox" checked="">
                    <label for="checkbox8">
                        Start Engines                             
                    </label>
                </div>  
        </div>
    </div>
    </div>

  <div class="col-lg-3">
        <div class="ibox float-e-margins">
            
          <div class="ibox-title success-top">
            <h5>Storage Export Management</h5>
          </div>
          <div class="ibox-content">
              <p>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  <div class="col-lg-12"  style="margin: 10px 0 30px 30px;">
                        <a href="#"> <%= image_tag("upload_icon.png", size:"160x96", alt:"Volume1") %> </a>
                  </div>

                  <div class="checkbox checkbox-danger checkbox-circle">
                      <input id="checkbox8" type="checkbox" checked="">
                      <label for="checkbox8">
                          Stop Service                           
                      </label>
                  </div>
                  <div class="checkbox checkbox-warning checkbox-circle">
                      <input id="checkbox8" type="checkbox" checked="">
                      <label for="checkbox8">
                          Reload Service                           
                      </label>
                  </div>
                  <div class="checkbox checkbox-info checkbox-circle">
                      <input id="checkbox8" type="checkbox" checked="">
                      <label for="checkbox8">
                          Start Service                           
                      </label>
                  </div>  
          </div>
      </div>
      </div>

  <div class="col-lg-3">
    <div class="panel panel-warning">
      <div class="panel-heading">
          <h3 class="panel-title">IT Managers
          <button type="button" class="btn btn-xs btn-default pull-right">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button></h3>
      </div>
          <div class="panel-body">
            <a href="#" class="list-group-item">Mike</a>
            <a href="#" class="list-group-item">Tom</a>
          </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Cluster Management Task</h3>
        </div>
        <div class="panel-body">
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <span class="badge">just now</span>
                    <i class="fa fa-fw fa-calendar"></i> Calendar updated
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">4 minutes ago</span>
                    <i class="fa fa-fw fa-comment"></i> Commented on a post
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">23 minutes ago</span>
                    <i class="fa fa-fw fa-truck"></i> Order 392 shipped
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">46 minutes ago</span>
                    <i class="fa fa-fw fa-money"></i> Invoice 653 has been paid
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">1 hour ago</span>
                    <i class="fa fa-fw fa-user"></i> A new user has been added
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">2 hours ago</span>
                    <i class="fa fa-fw fa-check"></i> Completed task: "pick up dry cleaning"
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">yesterday</span>
                    <i class="fa fa-fw fa-globe"></i> Saved the world
                </a>
                <a href="#" class="list-group-item">
                    <span class="badge">two days ago</span>
                    <i class="fa fa-fw fa-check"></i> Completed task: "fix error on sales page"
                </a>
            </div>
            <div class="text-right">
                <a href="#">View All Activity <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
  </div>
  </div>

